*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: BoilingBlackDemo;
  src: url(/assets/fonts/boiling-font/BoilingBlackDemo.ttf);
}

$bg-color: #2151abe2;
$font-size-small: 1.8rem;
$filter-size: 1rem;
$beer-color: #efa106;
$filter-bg: rgb(41, 57, 70);

$bg : #daeffc;

@mixin card-neumophism {
  background:$bg;
box-shadow: inset 8px 8px 16px #aebfca, 
            inset -8px -8px 16px #ffffff;
}

@mixin filter-neumophism{
  background: #ffffff;
box-shadow:  3px 3px 6px #646566, 
             -3px -3px 6px #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Texturina", serif;
  //background: $bg;
}

header {
  font-size: $font-size-small;
  background: $bg-color;
  text-align: center;
  padding: 1em;
  font-size: 3rem;
  color: #fff;
}

section {
  margin: 2rem;
}

.contents{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 10px;

  width: 90%;
}

.filters{
  padding:1em;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5em;
  width: 300px;
  @include filter-neumophism();
}

.filter-section {
  .filter-title {
    line-height: 1.1rem;
    font-size: 1rem;
    font-weight: 6
    00;
    text-transform: uppercase;
    margin: 0.4em;
    text-align: center;
    
  }

  .filter-container {
    background: $filter-bg;
    padding: $filter-size / 5;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
  }

  .filter-ABV,
  .filter-IBU,
  .filter-PH,
  .filter-KEG {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 10px;
    height: 20px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

 
  input + svg,
  input + span {
    cursor: pointer;
    font-size: $filter-size * 1.5;
    color: #fff;
    transition: all 0.3s ease;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: #fff;

    .a {
      fill: #fff;
    }
  }

  #abvAll:hover + span,
  #abvAll:checked + span,
  #abvAll:focus + span,
  #ibuAll:hover + span,
  #ibuAll:checked + span,
  #ibuAll:focus + span,
  #phAll:hover + span,
  #phAll:checked + span,
  #phAll:focus + span,
   #regular-filter:hover + span,
  #regular-filter:checked + span,
  #regular-filter:focus + span,
  #keg-filter:hover + span,
  #keg-filter:checked + span,
  #keg-filter:focus + span {
    color: $beer-color;
    font-size: $filter-size * 1.7;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 1);
  }

  .beerGlass:hover + svg,
  .beerGlass:checked + svg,
  .hops:checked + svg,
  .hops:hover + svg,
  .pHs:hover + svg,
  .pHs:checked + svg {
    fill: $beer-color;
    transform: scale(1.5);
   
  }
}

@media (min-width: 900px) {
  .filters {
    flex-direction: row;
  }
}



.beer-card {
  background-color: transparent;
  width: 300px;
  height: 600px;
  perspective: 1000px;
  margin: 1rem;
  @include filter-neumophism();

  .beer-card--inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .beer-card--front,
  .beer-card--back {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .beer-card--front {
    .beer__img {
      width: 80%;
      height: 350px;
      object-fit: contain;
      margin: 0 auto;
      @include card-neumophism();
    }

    .beer__name {
      text-align: left;
      height: 60px;
      font-size: 1rem;
      margin: 10px;
     //border-bottom: 2px solid #000000;
    }
    .beer__tagline {
      text-align: left;
    }

    .beer__info {
      display: flex;
      justify-content: space-between;
    }
  }

  .beer-card--back {
    transform: rotateY(180deg);
    justify-content: center;
    > * {
      text-align: left;
      margin: 0;
    }

    .beer__title {
      margin: 0 0 5px 0;
      border-bottom: 1px solid black;
    }

    .beer__title:before {
      content: "";
      top: 0;
      left: 0;
      bottom: 2px;
      position: absolute;
      height: 8px;
      width: 300px;

      background: #d72d2d7b;
      z-index: -1;
    }
  }

  .bottom {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.beer-card:hover .beer-card--inner {
  transform: rotateY(180deg);
  .beer-card--front {
    opacity: 0;
  }
}


.pagination{
  display: flex;
  justify-content: center;
  button{
    width:40px;
    height:40px;
    background: transparent;
    border:none;

    svg{
      width:100%;
      height:100%;
    }
  }

  #next:hover,
  #prev:hover{
    transform: scale(1.2);
  }


  #page_id{
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    width:40px;
    height:40px;
    text-align: center;
  }
}